@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$green-palette,
      tertiary: mat.$green-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.typography-hierarchy($theme, $back-compat: true);
  @include mat.theme(
    (
      typography: Roboto,
      density: -1,
    )
  );
}

body {
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  color-scheme: light;
}

html,
body {
  height: 100%;
}
